body{
	background-color: #809fff;
}

.fish{
	color:orange;
	text-decoration: underline;
	
}

.mammals{
	color:red;
	font-weight: bold;

}
.birds{
	color:blue;
	font-style: italic;
}

li{
	background-color: white;
	padding: 30px;
	font-size: 30px;
	width: 15%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

li:hover{ 
	opacity: 0.5;

 }
 
ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
}
